# Задание 1

# Подключение библиотек

In [11]:
import pandas as pd
import seaborn as sns
import numpy as np
import sklearn
import matplotlib as plt

import requests
import io

# Описание задачи

Прим.: Задача ниже была взята отчасти из других источников, отчасти из головы, т.к. датасет шёл в виде голых данных, задачи к нему не прилагалось.

Данный датасет представляет собой набор демографических данных для 234 стран. Данные взяты за несколько лет. 
Также есть сведения о площади стран, их географическом положении, рейтинг по количеству населения и рейтинг по степени прироста населения.

Задачей может являться построение модели изменения населения в мире и классификация по рейтингу количества населения и/или степени прироста населения отдельных стран.

# Чтение данных

In [15]:
#загрузка и вывод начала таблицы

url = "https://raw.githubusercontent.com/kegorov0902/ML/main/world_population.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content

df = pd.read_csv(io.StringIO(download.decode('utf-8')))

print (df.head())

   Rank CCA3         Country           Capital Continent  2022 Population  \
0    36  AFG     Afghanistan             Kabul      Asia         41128771
1   138  ALB         Albania            Tirana    Europe          2842321
2    34  DZA         Algeria           Algiers    Africa         44903225
3   213  ASM  American Samoa         Pago Pago   Oceania            44273
4   203  AND         Andorra  Andorra la Vella    Europe            79824

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621
3            46189            51368            54849            58230
4            77700            71746            71519            66097

   1990 Population  1980 Population  1970 Population  Area (km²)  \
0         10694796         12486631         10752971      652230
1          3295066          2941651          2324731       28748
2         25518074         18739378         13795915     2381741
3            47818            32886            27075         199
4            53569            35611            19860         468

   Density (per km²)  Growth Rate  World Population Percentage
0            63.0587       1.0257                         0.52
1            98.8702       0.9957                         0.04
2            18.8531       1.0164                         0.56
3           222.4774       0.9831                         0.00
4           170.5641       1.0100                         0.00

In [16]:
#вывод формы данных

df.shape

(234, 17)

В этой таблице каждая строка содержит информацию об одной стране, столбцы соотвествуют одной категории данных. Ниже приведён список характеристик(коих 17 штук):

1. Место в мире по количеству населения(п.: Афганистан к моменту составления датасета находился на 36 месте, сейчас сместился на 37)
2. Код CCA3
3. Название страны
4. Столица
5. Континент, на котором страна находится
6 - 13 - количество населения в разные годы
14. Площадь(в км^2)
15. Плотность населения(на км^2)
16. Рейтинг прироста населения
17. Процент от мирового населения

In [19]:
#подробное описание таблицы

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

# Визуализация данных